Python/Assignment 1/Assignment 1.docx
Python/Assignment 2/Assignment 2.docx
Python/Midterm/Midterm.docx
SQL/Final/Final SQL Exam.docx
/.NET/dotNETFinal/dotNETFinal/App.config
/.NET/0829/.vs/0829/copilot-chat/2c2e2f4c/sessions
