<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectString"
         connectionString="Server=WIN-AQFCQ5LO69Q;Database=YourDatabaseName;User Id=avery;Password=pass123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>