<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLString"
         connectionString="Data Source=TheIsland11\SQLEXPRESS;Initial Catalog=NETFinal;User ID=avery;Password=sqlpass123"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
